/* CSS */

/*Colours*/

* {
    margin: 0;
    padding: 0;
}

*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
	background-color: rgba(77, 87, 96, .1);
}

.flex-img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

html, body {height: 100%; width: 100%;}

html {font-size: 1em;}

body {
    background: white url(../images/background-image.jpg) no-repeat top center;
    background-size: 100%; 
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 6rem;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

.display-block {
    display: block;
}

#intro {
    height: 100%;
    position: relative;
}

.logo-side {
    height: 121px;
    width: 116px;
    position: fixed;
}

.lp-l {
    left: 50px;
    bottom: 50px;
}

.lp-r {
    right: 50px;
    top: 50px;
}

.logo-piece {
    height: 22px;
    width: 22px;
}

.lp-d {
    margin-bottom: 25px;
}

.lp-push-left {
    margin-left: 18px;
}

.lp-i {
    margin-top: 22px;
    margin-left: 44px;
}

.lp-t {
    margin-top: 22px;
    margin-left: 88px;
}

.lp-m {
    margin-left: 44px;
    margin-bottom: 25px;
}



